/*h1 {
  color: rgba(71,76,255,1);
}*/

/*body {
  background-color: black;
}*/

.main {
  position: relative;
}

.main h1 {
  position: absolute;/*絶対配置*/
  color: rgba(71,76,255,1);
  top: 0;
  left: 0;
}

.main #start {
  position: absolute;
  top: 0;
  right: 50px;
}

.main #stop {
  position: absolute;
  top: 0;
  right: 0;
}
